school-management-soap/src/main/webapp/WEB-INF/wsdl/classes.wsdl

<!--  Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787.  -->
<!--  Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bassine.com/school-management" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bassine.com/school-management" name="ClassesWebService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://bassine.com/school-management" schemaLocation="http://localhost:8080/school-management-soap/classesWebService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="getClass">
        <part name="parameters" element="tns:getClass"/>
    </message>
    <message name="getClassResponse">
        <part name="parameters" element="tns:getClassResponse"/>
    </message>
    <message name="saveClass">
        <part name="parameters" element="tns:saveClass"/>
    </message>
    <message name="saveClassResponse">
        <part name="parameters" element="tns:saveClassResponse"/>
    </message>
    <message name="getClassesBySector">
        <part name="parameters" element="tns:getClassesBySector"/>
    </message>
    <message name="getClassesBySectorResponse">
        <part name="parameters" element="tns:getClassesBySectorResponse"/>
    </message>
    <message name="getClassesBySectorName">
        <part name="parameters" element="tns:getClassesBySectorName"/>
    </message>
    <message name="getClassesBySectorNameResponse">
        <part name="parameters" element="tns:getClassesBySectorNameResponse"/>
    </message>
    <message name="getAllClasses">
        <part name="parameters" element="tns:getAllClasses"/>
    </message>
    <message name="getAllClassesResponse">
        <part name="parameters" element="tns:getAllClassesResponse"/>
    </message>
    <message name="updateClass">
        <part name="parameters" element="tns:updateClass"/>
    </message>
    <message name="updateClassResponse">
        <part name="parameters" element="tns:updateClassResponse"/>
    </message>
    <message name="deleteClass">
        <part name="parameters" element="tns:deleteClass"/>
    </message>
    <message name="deleteClassResponse">
        <part name="parameters" element="tns:deleteClassResponse"/>
    </message>
    <message name="searchClassesByName">
        <part name="parameters" element="tns:searchClassesByName"/>
    </message>
    <message name="searchClassesByNameResponse">
        <part name="parameters" element="tns:searchClassesByNameResponse"/>
    </message>
    <message name="existsClassInSector">
        <part name="parameters" element="tns:existsClassInSector"/>
    </message>
    <message name="existsClassInSectorResponse">
        <part name="parameters" element="tns:existsClassInSectorResponse"/>
    </message>
    <portType name="ClassesWebService">
        <operation name="getClass">
            <input wsam:Action="http://bassine.com/school-management/ClassesWebService/getClassRequest" message="tns:getClass"/>
            <output wsam:Action="http://bassine.com/school-management/ClassesWebService/getClassResponse" message="tns:getClassResponse"/>
        </operation>
        <operation name="saveClass">
            <input wsam:Action="http://bassine.com/school-management/ClassesWebService/saveClassRequest" message="tns:saveClass"/>
            <output wsam:Action="http://bassine.com/school-management/ClassesWebService/saveClassResponse" message="tns:saveClassResponse"/>
        </operation>
        <operation name="getClassesBySector">
            <input wsam:Action="http://bassine.com/school-management/ClassesWebService/getClassesBySectorRequest" message="tns:getClassesBySector"/>
            <output wsam:Action="http://bassine.com/school-management/ClassesWebService/getClassesBySectorResponse" message="tns:getClassesBySectorResponse"/>
        </operation>
        <operation name="getClassesBySectorName">
            <input wsam:Action="http://bassine.com/school-management/ClassesWebService/getClassesBySectorNameRequest" message="tns:getClassesBySectorName"/>
            <output wsam:Action="http://bassine.com/school-management/ClassesWebService/getClassesBySectorNameResponse" message="tns:getClassesBySectorNameResponse"/>
        </operation>
        <operation name="getAllClasses">
            <input wsam:Action="http://bassine.com/school-management/ClassesWebService/getAllClassesRequest" message="tns:getAllClasses"/>
            <output wsam:Action="http://bassine.com/school-management/ClassesWebService/getAllClassesResponse" message="tns:getAllClassesResponse"/>
        </operation>
        <operation name="updateClass">
            <input wsam:Action="http://bassine.com/school-management/ClassesWebService/updateClassRequest" message="tns:updateClass"/>
            <output wsam:Action="http://bassine.com/school-management/ClassesWebService/updateClassResponse" message="tns:updateClassResponse"/>
        </operation>
        <operation name="deleteClass">
            <input wsam:Action="http://bassine.com/school-management/ClassesWebService/deleteClassRequest" message="tns:deleteClass"/>
            <output wsam:Action="http://bassine.com/school-management/ClassesWebService/deleteClassResponse" message="tns:deleteClassResponse"/>
        </operation>
        <operation name="searchClassesByName">
            <input wsam:Action="http://bassine.com/school-management/ClassesWebService/searchClassesByNameRequest" message="tns:searchClassesByName"/>
            <output wsam:Action="http://bassine.com/school-management/ClassesWebService/searchClassesByNameResponse" message="tns:searchClassesByNameResponse"/>
        </operation>
        <operation name="existsClassInSector">
            <input wsam:Action="http://bassine.com/school-management/ClassesWebService/existsClassInSectorRequest" message="tns:existsClassInSector"/>
            <output wsam:Action="http://bassine.com/school-management/ClassesWebService/existsClassInSectorResponse" message="tns:existsClassInSectorResponse"/>
        </operation>
    </portType>
    <binding name="ClassesWebServicePortBinding" type="tns:ClassesWebService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getClass">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="saveClass">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getClassesBySector">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getClassesBySectorName">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAllClasses">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateClass">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteClass">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="searchClassesByName">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="existsClassInSector">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ClassesWebService">
        <port name="ClassesWebServicePort" binding="tns:ClassesWebServicePortBinding">
            <soap:address location="http://localhost:8080/school-management-soap/classesWebService"/>
        </port>
    </service>
</definitions>