school-management-soap/src/main/webapp/WEB-INF/wsdl/sectors.wsdl

<!--  Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787.  -->
<!--  Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bassine.com/school-management" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bassine.com/school-management" name="SectorsWebService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://bassine.com/school-management" schemaLocation="http://localhost:8080/school-management-soap/sectorsWebService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="getSector">
        <part name="parameters" element="tns:getSector"/>
    </message>
    <message name="getSectorResponse">
        <part name="parameters" element="tns:getSectorResponse"/>
    </message>
    <message name="saveSector">
        <part name="parameters" element="tns:saveSector"/>
    </message>
    <message name="saveSectorResponse">
        <part name="parameters" element="tns:saveSectorResponse"/>
    </message>
    <message name="getSectorWithClasses">
        <part name="parameters" element="tns:getSectorWithClasses"/>
    </message>
    <message name="getSectorWithClassesResponse">
        <part name="parameters" element="tns:getSectorWithClassesResponse"/>
    </message>
    <message name="getAllSectors">
        <part name="parameters" element="tns:getAllSectors"/>
    </message>
    <message name="getAllSectorsResponse">
        <part name="parameters" element="tns:getAllSectorsResponse"/>
    </message>
    <message name="updateSector">
        <part name="parameters" element="tns:updateSector"/>
    </message>
    <message name="updateSectorResponse">
        <part name="parameters" element="tns:updateSectorResponse"/>
    </message>
    <message name="deleteSector">
        <part name="parameters" element="tns:deleteSector"/>
    </message>
    <message name="deleteSectorResponse">
        <part name="parameters" element="tns:deleteSectorResponse"/>
    </message>
    <message name="searchSectorsByName">
        <part name="parameters" element="tns:searchSectorsByName"/>
    </message>
    <message name="searchSectorsByNameResponse">
        <part name="parameters" element="tns:searchSectorsByNameResponse"/>
    </message>
    <message name="existsSectorByName">
        <part name="parameters" element="tns:existsSectorByName"/>
    </message>
    <message name="existsSectorByNameResponse">
        <part name="parameters" element="tns:existsSectorByNameResponse"/>
    </message>
    <message name="countClassesInSector">
        <part name="parameters" element="tns:countClassesInSector"/>
    </message>
    <message name="countClassesInSectorResponse">
        <part name="parameters" element="tns:countClassesInSectorResponse"/>
    </message>
    <portType name="SectorsWebService">
        <operation name="getSector">
            <input wsam:Action="http://bassine.com/school-management/SectorsWebService/getSectorRequest" message="tns:getSector"/>
            <output wsam:Action="http://bassine.com/school-management/SectorsWebService/getSectorResponse" message="tns:getSectorResponse"/>
        </operation>
        <operation name="saveSector">
            <input wsam:Action="http://bassine.com/school-management/SectorsWebService/saveSectorRequest" message="tns:saveSector"/>
            <output wsam:Action="http://bassine.com/school-management/SectorsWebService/saveSectorResponse" message="tns:saveSectorResponse"/>
        </operation>
        <operation name="getSectorWithClasses">
            <input wsam:Action="http://bassine.com/school-management/SectorsWebService/getSectorWithClassesRequest" message="tns:getSectorWithClasses"/>
            <output wsam:Action="http://bassine.com/school-management/SectorsWebService/getSectorWithClassesResponse" message="tns:getSectorWithClassesResponse"/>
        </operation>
        <operation name="getAllSectors">
            <input wsam:Action="http://bassine.com/school-management/SectorsWebService/getAllSectorsRequest" message="tns:getAllSectors"/>
            <output wsam:Action="http://bassine.com/school-management/SectorsWebService/getAllSectorsResponse" message="tns:getAllSectorsResponse"/>
        </operation>
        <operation name="updateSector">
            <input wsam:Action="http://bassine.com/school-management/SectorsWebService/updateSectorRequest" message="tns:updateSector"/>
            <output wsam:Action="http://bassine.com/school-management/SectorsWebService/updateSectorResponse" message="tns:updateSectorResponse"/>
        </operation>
        <operation name="deleteSector">
            <input wsam:Action="http://bassine.com/school-management/SectorsWebService/deleteSectorRequest" message="tns:deleteSector"/>
            <output wsam:Action="http://bassine.com/school-management/SectorsWebService/deleteSectorResponse" message="tns:deleteSectorResponse"/>
        </operation>
        <operation name="searchSectorsByName">
            <input wsam:Action="http://bassine.com/school-management/SectorsWebService/searchSectorsByNameRequest" message="tns:searchSectorsByName"/>
            <output wsam:Action="http://bassine.com/school-management/SectorsWebService/searchSectorsByNameResponse" message="tns:searchSectorsByNameResponse"/>
        </operation>
        <operation name="existsSectorByName">
            <input wsam:Action="http://bassine.com/school-management/SectorsWebService/existsSectorByNameRequest" message="tns:existsSectorByName"/>
            <output wsam:Action="http://bassine.com/school-management/SectorsWebService/existsSectorByNameResponse" message="tns:existsSectorByNameResponse"/>
        </operation>
        <operation name="countClassesInSector">
            <input wsam:Action="http://bassine.com/school-management/SectorsWebService/countClassesInSectorRequest" message="tns:countClassesInSector"/>
            <output wsam:Action="http://bassine.com/school-management/SectorsWebService/countClassesInSectorResponse" message="tns:countClassesInSectorResponse"/>
        </operation>
    </portType>
    <binding name="SectorsWebServicePortBinding" type="tns:SectorsWebService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getSector">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="saveSector">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getSectorWithClasses">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAllSectors">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateSector">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteSector">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="searchSectorsByName">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="existsSectorByName">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="countClassesInSector">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="SectorsWebService">
        <port name="SectorsWebServicePort" binding="tns:SectorsWebServicePortBinding">
            <soap:address location="http://localhost:8080/school-management-soap/sectorsWebService"/>
        </port>
    </service>
</definitions>